*{
    margin: 0px;
}



/* portfolio */

#portfolio{
    padding: 60px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 55px;
    margin-top: 60px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: tranceform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(255, 236, 236, 0.612), #08dfe2);
    border-radius: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items:left;
    justify-content: center;
    flex-direction: column;
    padding: 0 47px;
    text-align: left;
    font-size: 15px;
    /* transform: height 0.5s; */
}

p{
    text-align: left;
    /* margin-left: 25px; */
}


.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale()
}

.work:hover .layer{
    height: 100%;
}


.navbar2{
    width: 95%;
    margin: auto;
    padding: 35px,0 ;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 18;
    font-family: sans-serif;
}


  .navbar2 ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar2 ul li a{
text-decoration: none;
color: #ffffff;
text-transform: uppercase;
}


.banner1{

    width: 100%;
    height: 100vh;
    background-image:url(red-ferrari-supercar-desktop-wallpaper-preview.jpg);
    background-size: cover;
    background-position: center;
}

button {
    width: 80px;
    height: 30px;
    background-color:hsl(32, 84%, 48%);
   
}

a{
    text-decoration: none;
    list-style-type: none;
}

    